extends layout

block head
  script(type="text/javascript", src="http://www.google.com/jsapi")
  script(type="text/javascript", src="/javascripts/map.js")

block content
  h3 Interests:
  each interest in interests
   a(href='/' + interest.name + '/map')= interest.name