extends layout

block content
  .jumbotron
    h1 Explore Human Interests
    p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    a.btn.btn-large.btn-success.mainBtn(href="/explore") Explore the Data